
    *{
        padding: 0;
        margin: 0;
        border: none;
    }

    input:-webkit-autofill {
        background-color: #4a7c59;
    }
    body{
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        background-color: #4d289c;
    }

    .doc_main{
        margin-top: 3%;
        display: flex;
        justify-content: center;
    }

    .login_box{
        /* display: flex;
        justify-content: center; */
        align-content: center;
    }
    .login-wrapper{

        padding: 40px;
        box-sizing: border-box;
        border: 0;
    }

    .login-wrapper > h2{
        font-size: 20px;
        color: #000000;
        margin-bottom: 40px;
        text-align: center;
    }
    #login-form > input{
        font-size: 20px;
        width: 100%;
        height: 48px;
        padding: 0 10px;
        box-sizing: border-box;
        margin-bottom: 16px;
        border-radius: 6px;
        background-color: #e8e8e8;
    }
    #login-form > input::placeholder{
        color: #D2D2D2;
    }
    #login-form > input[type="button"]{
        color: #fff;
        font-size: 16px;
        background-color: #6A24FE;
        transition-duration: 0.4s;
        margin-top: 20px;
    }
    #login-form > input[type="button"]:hover{
        background-color: #420eb6;
        transition-duration: 0.4s;
    }

    #login-form > input[type="checkbox"]{
        display: none;
    }
    #login-form > label{
        color: #999999;
    }
    #login-form input[type="checkbox"] + label{
        cursor: pointer;
        padding-left: 26px;
    }

    #login-form p{
        margin-bottom: 5px;
        padding-left: 3px;
    }
    /* a-style */
    a {color: #999999; text-decoration: none; outline: none}
    a:hover, a:active {text-decoration: none; color:#fff; background-color:#f59000;}

    #option{
        text-align: center;
    }
    #option_centerbox{
        display: flex;
        justify-content: space-evenly;
    }

    .title{
        text-align: center;
        margin-bottom: 24px;
    }
    #login_back_img{
        width:250px;
        position: relative;
        padding-left: 250px;
    }
    main{
        display: flex;
        background-color:  #fff;
        justify-content: space-between;
        border-radius: 10px;
        border-collapse: collapse;
        margin: 50px;
    }
    .leftdiv{
        display: flex;
        align-items: flex-end;
        background-image: url('/image/login/bg.png');
        background-size: 80%;
        background-repeat: no-repeat;
    }
    #remember-check{
        margin-right: 4px;
        position: relative;
        top: 2px;
    }
    /*카카오로그인*/
    #kakaoLoginBtn{
        width: 150px;
    }
    #kakaoLoginBtn:hover{
        filter:brightness(110%);
    }
    #kakao_div{
        display: flex;
        justify-content: center;
    }
    #kakao_hr{
        border:0;
        height:0.5px;
        background-color: #d8d8d8;
        margin: 15px 0;
    }
    #kakao_hr_div{
        display: flex;
        flex-direction: column;
    }


    @media (max-width: 900px){

        *{
            padding: 0;
            margin: 0;
            border: none;
        }
        body{
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            background-color: #4d289c;
        }

        .doc_main{
            margin-top: 3%;
            display: flex;
            justify-content: center;
        }

        .login_box{
            /* display: flex;
            justify-content: center; */
            align-content: center;
        }
        .login-wrapper{

            padding: 40px;
            box-sizing: border-box;
            border: 0;
        }

        .login-wrapper > h2{
            font-size: 20px;
            color: #000000;
            margin-bottom: 40px;
            text-align: center;
        }
        #login-form > input{
            font-size: 20px;
            width: 100%;
            height: 48px;
            padding: 0 10px;
            box-sizing: border-box;
            margin-bottom: 16px;
            border-radius: 6px;
            background-color: #e8e8e8;
        }
        #login-form > input::placeholder{
            color: #D2D2D2;
        }
        #login-form > input[type="button"]{
            color: #fff;
            font-size: 16px;
            background-color: #6A24FE;
            transition-duration: 0.4s;
            margin-top: 20px;
        }
        #login-form > input[type="button"]:hover{
            background-color: #420eb6;
            transition-duration: 0.4s;
        }

        #login-form > input[type="checkbox"]{
            display: none;
        }
        #login-form > label{
            color: #999999;
        }
        #login-form input[type="checkbox"] + label{
            cursor: pointer;
            padding-left: 26px;
        }

        #login-form p{
            margin-bottom: 5px;
            padding-left: 3px;
        }
        /* a-style */
        a {color: #999999; text-decoration: none; outline: none}
        a:hover, a:active {text-decoration: none; color:#fff; background-color:#f59000;}

        #option{
            text-align: center;
        }
        #option_centerbox{
            display: flex;
            justify-content: space-evenly;
        }

        .title{
            text-align: center;
            margin-bottom: 24px;
        }
        #login_back_img{
            width:250px;
            position: relative;
            padding-left: 250px;
            display: none;
        }
        main{
            display: flex;
            background-color:  #fff;
            justify-content: space-between;
            border-radius: 10px;
            border-collapse: collapse;
            margin: 50px;
        }
        .leftdiv{
            display: none;
            align-items: flex-end;
            background-image: url('/image/login/bg.png');
            background-size: 80%;
            background-repeat: no-repeat;
        }
        #remember-check{
            margin-right: 4px;
            position: relative;
            top: 2px;
        }
    }


@media (max-width: 400px){

    *{
        padding: 0;
        margin: 0;
        border: none;
    }
    body{
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        background-color: #4d289c;
    }

    .doc_main{
        margin-top: 3%;
        display: flex;
        justify-content: center;
    }

    .login_box{
        /* display: flex;
        justify-content: center; */
        align-content: center;
    }
    .login-wrapper{

        padding: 40px;
        box-sizing: border-box;
        border: 0;
    }

    .login-wrapper > h2{
        font-size: 20px;
        color: #000000;
        margin-bottom: 40px;
        text-align: center;
    }
    #login-form > input{
        font-size:20px;
        width: 100%;
        height: 48px;
        padding: 0 10px;
        box-sizing: border-box;
        margin-bottom: 16px;
        border-radius: 6px;
        background-color: #e8e8e8;
    }
    #login-form > input::placeholder{
        color: #D2D2D2;
    }
    #login-form > input[type="button"]{
        color: #fff;
        font-size: 16px;
        background-color: #6A24FE;
        transition-duration: 0.4s;
        margin-top: 20px;
    }
    #login-form > input[type="button"]:hover{
        background-color: #420eb6;
        transition-duration: 0.4s;
    }

    #login-form > input[type="checkbox"]{
        display: none;
    }
    #login-form > label{
        color: #999999;
    }
    #login-form input[type="checkbox"] + label{
        cursor: pointer;
        padding-left: 26px;
    }

    #login-form p{
        margin-bottom: 5px;
        padding-left: 3px;
    }
    /* a-style */
    a {color: #999999; text-decoration: none; outline: none}
    a:hover, a:active {text-decoration: none; color:#fff; background-color:#f59000;}

    #option{
        text-align: center;
    }
    #option_centerbox{
        display: flex;
        justify-content: space-evenly;
    }

    .title{
        text-align: center;
        margin-bottom: 24px;
    }
    #login_back_img{
        width:250px;
        position: relative;
        padding-left: 250px;
    }
    main{
        display: flex;
        background-color:  #fff;
        justify-content: space-between;
        border-radius: 10px;
        border-collapse: collapse;
        margin: 20px;
    }
    .leftdiv{
        display: none;
        align-items: flex-end;
        background-image: url('/image/login/bg.png');
        background-size: 80%;
        background-repeat: no-repeat;
    }
    #remember-check{
        margin-right: 4px;
        position: relative;
        top: 2px;
    }
}
