<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>돈 빠져나가는 날</title>
    <link rel="stylesheet" href="/css/login/login.css">

</head>
<body>
    <div class ="doc_main">
    <main class="boxi">
        <div class = "leftdiv">
            <img id="login_back_img" src="/image/login/tennis.png" alt="">
        </div>
        <div class = "login_box">
            <div class="login-wrapper">
                <h2 id="logintitle">Log in</h2>
                <form  id="login-form">
                    <p>ID</p>
                    <input type="text" id = 'userId' name="userId" placeholder="Type your id">
                    <p>password</p>
                    <input type="password" id = 'userPw' name="userPw" placeholder="Type your password">
                    <label for="remember-check">
                        <input type="checkbox" id="remember-check">아이디 저장하기
                    </label>
                    <input type="button" id ="loginBtn" onclick="login()" value="Login">
                </form>
                <div id="option" >
                    <div id="option_centerbox">
                        <a href="">아이디 찾기</a>
                        <a href="">비밀번호 찾기</a> 
                        <a href="/regist">회원가입</a>
                    </div>
                </div>
                <div id="kakao_hr_div">
                    <hr id="kakao_hr" >
                </div>
                <div id = "kakao_div">
                        <img id="kakaoLoginBtn"src="/image/login/kakao.png" alt="" onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=ee3dc4adc8c28899d3344a3b206f25b4&prompt=login&redirect_uri=http://localhost:7080/kakaoLogin&response_type=code'">
                    </div>
                </div>


            </div>
    </main>
</div>
</body>
<script src="js/login/login.js"></script>
</html>