

        <div class="center_box" th:fragment="content_box">
                <div>
                    <div>
                        <h2 class = "comph2">회원정보</h2>
                        <div class = "compdiv">
                            <div class = "left_info">
                                <div>
                                    <label for="userInfo_userId" class="block whitefont bmargin"> 아이디 </label>
                                    <input type="text" class="info_input whitefont" id="userInfo_userId" th:value="${userId}" disabled>
                                </div>
                                <div>
                                    <label for="userInfo_userName" class="block whitefont bmargin">이름</label>
                                    <input type="text" onfocusin="addClassOnSave()" class="info_input whitefont" id="userInfo_userName" th:value="${userName}" th:disabled="${loginType == 'kakao'} ? 'disabled'">
                                </div>
                                <div>
                                    <label for="changePW" class="block whitefont bmargin">비밀번호</label>
                                    <input type="button" class="info_input whitefont" id="changePW" value="비밀번호 변경" onclick=openpwchange() th:disabled="${loginType == 'kakao'} ? 'disabled'">
                                </div>

                            </div>
                            <div class="right_info">
                                <div class="right_info_div">
                                    <div class="profilePopupDiv">
                                        <ul class="profilePopupUl">
                                            <li th:attr="class=${profileImage=='/image/index/defaultProfileImg.jpeg' ? 'profilePopupLi set' : 'profilePopupLi'}"
                                                onclick="setDefaultProfile()" id="defaultProfileImage">
                                                <img  src="/image/index/defaultProfileImg.jpeg" class="profilePopupLi_img" alt=""> <span>기본프로필</span></li>
                                            <li th:attr="class=${profile!=null ? (profileImage!='/image/index/defaultProfileImg.jpeg'?'profilePopupLi set':'profilePopupLi'):'profilePopupLi none'}" onclick="setMyProfile()" id="myProfileImage"><img class="profilePopupLi_img" th:src="${profile}" alt="" > <span>나의프로필</span></li>
                                            <hr>
                                            <li class="profilePopupLi" onclick="openUploadImg()">
                                                사진업로드
                                                <form id="uploadForm">
                                                    <input type="file" onchange="uploadImg()" name="file" id="uploadInput"/>
                                                    <input type="text" name="memberId" th:value="${memberId}"/>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="userInfo_ImgText" onclick="openProfileChange()">
                                        변 경
                                    </span>
                                    <img id="userInfo_profileImage" th:src="${profileImage}" alt="">
                                </div>
                            </div>
                        </div>
                        <hr class="savr_hr">
                        <div class="save_div">
                            <input type="button" class="saveBtn" value="저장" onclick="modifyInfo()" disabled>
                        </div>
                    </div>
                </div>
        </div>


